
@{
    ViewBag.Title = "Index";
}

<style>

    .av {
        border-color: var(--available);
        border-width: 1.5px;
        border-radius: 0.5rem;
    }

    .xx {
        border-color: var(--cancelled);
        border-width: 1.5px;
        border-radius: 0.5rem;
    }

    .fp {
        border-color: var(--fullpayment);
        border-width: 1.5px;
        border-radius: 0.5rem;
    }

    .rq {
        border-color: var(--onrequest);
        border-width: 1.5px;
        border-radius: 0.5rem;
    }

    .kk {
        border-color: var(--approved);
        border-width: 1.5px;
        border-radius: 0.5rem;
    }
</style>

<br />
<div class="card text-white bg-primary mb-3 av">
    <div class="card-body">
        <h4 class="card-title">Available card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card text-white bg-primary mb-3 xx">
    <div class="card-body">
        <h4 class="card-title">Cancelled card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card text-white bg-primary mb-3 fp">
    <div class="card-body">
        <h4 class="card-title">Full Payment card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card text-white bg-primary mb-3 rq">
    <div class="card-body">
        <h4 class="card-title">On Request card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
<div class="card text-white bg-primary mb-3 kk">
    <div class="card-body">
        <h4 class="card-title">Confirmed card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>